<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
        <link href="styles/styles.css" type="text/css" rel="stylesheet">
        
        <!--Bootstrap css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
            <!--Bootstrap Javascript-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        
        <!--JQuery cdn-->
        <script src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
        
        <script src="js/home.js"></script>
    </head>
    <!--Body opening-->
    <body>
        <!--Website navbar-->
        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://btaylor.greenrivertech.net/mywebsite/">Brent Taylor</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://btaylor.greenrivertech.net/mywebsite/about">About me</a></li>
     <!-- <li><a href="http://btaylor.greenrivertech.net/mywebsite/blog">Blogs <img src="images/blogpic.png" id="blogpic"></a></li> -->
      <li><a href="http://btaylor.greenrivertech.net/mywebsite/projects">Projects <img src="images/folder.png" id="folder"></a></li>
    </ul>
  </div>
</nav>
        <div class="container">
       <header><h2>About Me</h2></header>
       <p>Born and Raised in Tacoma Washington.<br>
        <img src="images/tacoma.jpg" id="city"><br><br>
        
       I am currently a senior undergraduate at Green River College.
       <br>I grew up with a strong interest of becoming an artist due to a constant exposure of playing video games as a child.<br>
      I always had a passion for computers, I was hooked on playing runescape for a large portion of my child hood and would slowly pursue other games such
       as Guild wars 2, League of legends, and Hearthstone.<br> I chose to pursue software development because I wanted
       a career where I had the potential to create something for an audience that could represent my sense of style.<br>
       Though I wasn't completely in love with the idea about getting into the software industry I found that I had a visual
       mindset for designing websites and creating projects on topics I could relate to.</p>
        </div>
        
        <!--List of hobbies-->
        <strong>Hobbies that interest me:</strong>
        <ul style="list-style: none;">
            <li>Video Games</li>
            <li>Break Dancing</li>
            <li>Drawing</li>
            <li>Tennis</li>
            <li>Bowling</li>
            <li>Photography</li>
            <li>Food <strong>(Love food)</strong></li>
        </ul>
        
    </body>
    <!--Body closing-->
</html>